{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="vm">
                <h1><span>Торговый автомат</span></h1>
            </div>

            <div id="customer_wallet">
                <h2>Кошелек покупателя</h2>
                <p>
                    <table>
                        <tr>
                            <th>Номинал, руб.</th>
                            <th>Количество, шт.</th>
                        </tr>
                        {% for coin in user_wallet %}
                            <tr>
                                <td>{{ coin.worth }}</td>
                                <td>{{ coin.num }}</td>
                                <td>
                                    <button>Внести монету</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </p>
            </div>

            <div id="goods">
                <h2>Товары</h2>
                <p>
                    <table>
                        <tr>
                            <th>Товар</th>
                            <th>Стоимость, руб.</th>
                            <th>Количество, шт.</th>
                        </tr>
                        {% for good in goods %}
                            <tr>
                                <td>{{ good.name }}</td>
                                <td>{{ good.price }}</td>
                                <td>{{ coin.num }}</td>
                                <td>
                                    <button>Купить</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </p>
            </div>

            <div id="vm_wallet">
                <h2>Кошелек торгового автомата</h2>
                <p>
                    <table>
                        <tr>
                            <th>Номинал, руб.</th>
                            <th>Количество, шт.</th>
                        </tr>
                        {% for coin in vm_wallet %}
                            <tr>
                                <td>{{ coin.worth }}</td>
                                <td>{{ coin.num }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </p>
            </div>

            <div id="vm_wallet">
                <h2>Расчеты с покупателем</h2>
                <p>
                <table>
                    <tr>
                        <td>Внесенная сумма: <input id="balance" type="text" value="0"/><input id="btn" type="button" value="Сдача"></td>
                    </tr>
                    <tr>
                        <td>Сообщение: <div id="status"></div></td>
                    </tr>
                </table>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    table { border: 1px solid gray }
    th { background-color: lightgray; padding: 5px }
    td { padding: 5px }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
